@import url(http://openfontlibrary.org/face/linearmente);
@import url(http://openfontlibrary.org/face/jura);

/* Body ---------------------
*/
body {
	background-color: #E0E0E0;
	font-family: 'Jura';
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-shadow: 0px 0px 1px #fff;
}

/* Top Bar ------------------
*/
#top_bar {
	background-color: #1B1916;
	border: 2px none #59524B;
	border-bottom-style: solid;
	height: 40px;
}

#inner_top_bar {
	margin: 0px auto;
	overflow: auto;
	padding: 5px;
	width: 960px;
}

#top_bar table {
	float: right;
}

#top_bar td {
	padding-right: 32px;
}

#top_bar input {
	border: 1px solid #1B1916;
}

#search_button {
	background-color: #59524B;
	background-image: url(../images/icons/search_20x20_white.png);
	background-position: 12px 1px;
	background-repeat: no-repeat;
	width: 50px;
	height: 25px;
}

input#search_button:hover {
	background-color: #7A756F;
}

#search_field {
	height: 21px;
	float: left;
}

#top_bar a {
	color: #FFF;
}

/* Header -------------------
*/
#header {
	background-image: url(../images/background/Gamepad_icon_400x400.png);
	background-position: 562px -115px;
	background-repeat: no-repeat;
	margin: 0px auto;
	overflow: auto;
	width: 960px;
}

h1 {
	color: #1B1916;
	float: left;
	font: 70pt/5px 'Linearmente';
}

/* Nav ----------------------
*/
#nav {
	background-color: #B20000;
	border: 1px solid #B20000;
	height: 40px;
	margin: 0px auto;
	overflow: auto;
	width: 960px;
}

#nav ul {
	margin: 4px 0px;
}

#nav li {
	display: inline;
	padding: 1% 8.9%;
	border: 1px none #FFF;
	border-left-style: solid; 
}

#nav li.start {
	padding-left: 41px;
	border-left-style: none;
}

#nav a {
	font-weight: bold;
	font-size: 18pt;
	color: #FFF;
}

/* Content ------------------
*/
#content {
	background-color: #F0F0F0;
	border: 1px solid #D1D1D1;
	border-top-style: none;
	margin: 0px auto;
	min-height: 300px;
	overflow: auto;
	width: 960px;
}

/* Footer -------------------
*/
#footer {
	margin: 0px auto;
	overflow: auto;
	padding: 5px;
	width: 950px;
}
